{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %}
  <h2>Login</h2>
  <p>Por favor, introduce tus datos</p>
{% endblock titulo_pagina %}
{% block wrapper %}
  <section id="footer">
    <div class="inner">
      <form method="post" action="#">
        <div class="field">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <ul class="actions">
          <li>
            <input type="submit" value="Entrar" />
          </li>
        </ul>
      </form>
    </div>
  </section>
{% endblock wrapper %}
{% block footer %}
{% endblock footer %}
