{% load static %}
<!DOCTYPE HTML>
<html lang="es">
  <head>
    <title>Shift Master Agenda</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Shift Master Agenda">
    <meta name="keywords" content="shifts">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
    <link rel="icon"
          href="{% static 'assets/images/FONTNATURA.ico' %}"
          type="image/x-icon">
    <noscript>
      <link rel="stylesheet" href="noscript.css" />
    </noscript>
    <script>
			function hideElementWithId(id, option) {
				const element = document.getElementById(id);
				if (element) {
				  element.style.display = option;
				  var label = document.querySelector("label[for='" + id + "']");
				  label.style.display = option;
				}
			  }
			function for_shift_hides(shift) {
				const day = "{{ day.shift_real }}";
				hideElementWithId('id_overtime','none');
				hideElementWithId('id_keep_day','none');
				hideElementWithId('id_change_payable','none')
        console.log(day,shift)
				if (day !== 'D') {
					hideElementWithId('id_overtime','block');
				}
				if (day == 'D' && shift !=="D") {
					hideElementWithId('id_overtime','block');
					hideElementWithId('id_keep_day','block');
				}
				if (day !== 'D' && shift !=="D" && shift !== day) {
					hideElementWithId('id_overtime','block');
					hideElementWithId('id_change_payable','block')
				}
				if (day !== 'D' && shift == "D") {
					hideElementWithId('id_overtime','none');
					hideElementWithId('id_keep_day','none');
					hideElementWithId('id_change_payable','none')
				}
			}
			function addListeners() {
				const s = document.getElementById('id_shift')
				s.addEventListener('change', function(event) {
					const selectedValue = event.target.value;
					for_shift_hides(s.value);
				}
				);
			};
			document.addEventListener("DOMContentLoaded", function() {
				// Obtener una lista de elementos por su clase después de que la página se haya cargado
				var elementos = document.querySelectorAll('.day');

				// Recorrer todos los elementos
				elementos.forEach(function(elemento) {
					// Obtener el color de fondo del atributo "data-color" del elemento
					var colorFondo = elemento.getAttribute('data-color');

					// Establecer el color de fondo en el elemento
					elemento.style.color = colorFondo;


				var underline = elemento.getAttribute('data-alter_day');
				if (underline==="True") {
					elemento.style.textDecoration = 'underline';

				} else {

					elemento.style.textDecoration = "none";
				};
	});


			});
			function evitarNavegacion(event) {
				// Prevenir el comportamiento predeterminado del enlace
				event.preventDefault();

				// Aquí puedes realizar cualquier otra acción que desees en lugar de navegar.
				// Por ejemplo, mostrar u ocultar elementos, realizar operaciones, etc.
			}
			function hideElementsWithClass(className, option) {
				const elements = document.querySelectorAll('.' + className);
				elements.forEach(element => {
					element.style.display = option;
				});
			}
			function shift_status() {

					//const shiftElement = document.querySelector('shift#form [name="shift"]');
					//const a = document.getElementById('shift').elements.namedItem('pedro');
					const inputField = document.getElementById('id_shift');
					//inputField.style.background = "blue"
					const shift = inputField.value
					//hideElementsWithClass('hidden','none');
					//console.log("Valor: " + shift);

					for_shift_hides(shift)
					//document.getElementById('form').elements.namedItem('shift').value = shift;

				}










    </script>
  </head>
  <body>
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <!-- Header -->
      <header id="header" class="alt">
        <nav>
          <a href="#menu">Menu</a>
        </nav>
        <!-- Titulo barra ocultable y Menu -->
        <h1>
          <a href="#">Shift Master Agenda 0.4.1
            {% if schedule.team %}Turno {{ schedule.team }}{% endif %}
          </a>{{ schedule.year }}
        </h1>
      </header>
      <!-- Menu -->
      <nav id="menu">
        <div class="inner">
          {% if user.username %}
            <p class="major">{{ user.username }}, Turno {{ schedule.team }}</p>
          {% else %}
            <p class="major">Invitado, Turno no asignado</p>
          {% endif %}
          <h2 class="major">Menu</h2>
          {% block links %}
            <ul class="links">
              <li>
                <a href="{% url "home" %}">Home</a>
              </li>
              {% if user.username %}
                <li>
                  <a href="{% url "agenda" %}">Calendario</a>
                </li>
                <li>
                  <a href="{% url "loto" %}">Loterias</a>
                </li>
                <li>
                  <a href="{% url "config" %}">Configuración</a>
                </li>
              {% endif %}
              {% if user.username %}
                <li>
                  <a href="{% url "logout" %}">Cerrar Sesión</a>
                </li>
              {% else %}
                <li>
                  <a href="{% url "login" %}">Log In</a>
                </li>
                <li>
                  <a href="{% url "signup" %}">Alta</a>
                </li>
              {% endif %}
            </ul>
          {% endblock links %}
          <a href="#" class="close">Close</a>
        </div>
      </nav>
      {% block banner %}
        <!-- Banner -->
        <section id="banner">
          <div class="inner ">
            {% block titulo_pagina %}
              <h2>Calendario / agenda</h2>
            {% endblock titulo_pagina %}
          </div>
        </section>
      {% endblock banner %}
      {% block wrapper %}
      {% endblock wrapper %}
      {% block footer %}
        <!-- Footer -->
        <section id="footer">
          <div class="inner">
            <h2 class="major">Contact</h2>
            <p>I appreciate your interest in my project and value your input.</p>
            <p>Your feedback helps me enhance the project and create a better experience for everyone.</p>
            <form method="post" action="#" class="major">
              <div class="fields major">
                <div class="field">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="4"></textarea>
                </div>
              </div>
              <ul class="actions">
                <li>
                  <input type="submit" value="Send Message" />
                </li>
              </ul>
            </form>
            <ul class="contact">
              <li class="icon solid fa-envelope">
                <a href="#">sergioucedoberdejo@hotmail.com</a>
              </li>
            </ul>
            <ul class="copyright">
              <li>GNU General Public License v3.0.</li>
              <li>
                <p>You are free to use, modify, and distribute the code</p>
                <p>in accordance with the terms and conditions of this license.</p>
                <p>
                  For more details, please review the     <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" class="">license document</a>
                </p>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  {% endblock footer %}
</div>
<!-- Scripts -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'assets/js/browser.min.js' %}"></script>
<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>
