{% extends "base.html" %}
{% block titulo_pagina %}
  <h2>Cambio de contraseña</h2>
  <p>Por favor, introduce tus datos</p>
{% endblock titulo_pagina %}
{% block wrapper %}
  <section id="footer">
    <div class="inner">
      <form method="post" action="#">
        <div class="field">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <ul class="actions">
          <li>
            <input type="submit" value="Guardar" />
          </li>
          <li>
            <input type="button"
                   value="Cancelar"
                   onclick="window.location.href='{% url 'config' %}'; return false;">
          </li>
        </ul>
      </form>
      <ul class="contact">
        <li></li>
      </ul>
      <ul class="copyright">
      </ul>
    </div>
  </section>
{% endblock wrapper %}
{% block footer %}
{% endblock footer %}