{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %}
  <h2>Bienvenido {{ user.username }}</h2>
  <p>Shift Master Agenda 0.4.1</p>
{% endblock titulo_pagina %}
{% block wrapper %}
  <!-- Wrapper -->
  <section id="wrapper">
    <!-- One -->
    <section id="one" class="wrapper spotlight alt style1 ">
      <div class="inner">
        <a href="#" class="image">
          <img src="{% static 'assets/images/only_month.jpg' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
        </a>
        <div class="content">
          <h2 class="major">Shift Management:</h2>
          <p>
            Easily generate a dynamic calendar/agenda for
            varying work shifts:
            <h3>Morning, afternoon and night</h3>
            Users can  and modify assigned shifts.
          </p>
          <a href="{% url "agenda" %}" class="special">Go to Agenda</a>
        </div>
      </div>
    </section>
    <!-- Two -->
    <section id="two" class="wrapper alt spotlight style2">
      <div class="inner ">
        <a href="#" class="">
          <img src="{% static 'assets/images/morning.png' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
          <img src="{% static 'assets/images/afternoon.png' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
          <img src="{% static 'assets/images/night.jpg' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
          <img src="{% static 'assets/images/intensive.png' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
        </a>
        <div class="content">
          <h2 class="major">Color-Coded Shifts:</h2>
          <p>
            Each work shift is associated with a
            customizable color, making it easy to differentiate between different shifts.
          </p>
          <a href="{% url "change_color_days" %}" class="special">Change colours</a>
        </div>
      </div>
    </section>
    <!-- Three -->
    <section id="three" class="wrapper spotlight alt style3">
      <div class="inner">
        <a href="#" class="">
          <img src="{% static 'assets/images/holiday.png' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
          <img src="{% static 'assets/images/holiday_workable.png' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
        </a>
        <div class="content">
          <h2 class="major">Holiday Marking:</h2>
          <p>The app calculates holidays and highlights them on the calendar for quick reference.</p>
          <p>It also takes into account the holidays that the user works.</p>
          <a href="{% url "change_color_days" %}" class="special">Change colours</a>
        </div>
      </div>
    </section>
    <!-- Three -->
    <section id="three" class="wrapper spotlight  style4">
      <div class="inner">
        <a href="#" class="">
          <img src="{% static 'assets/images/alter_day.png' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
          <img src="{% static 'assets/images/free.png' %}"
               width="auto"
               height="auto"
               alt="Sin imagen" />
        </a>
        <div class="content">
          <h2 class="major">Altered days Marking:</h2>
          <p>The days that the user modifies are highlighted with underlining.</p>
          <p>And, of course, rest days are also reflected.</p>
          <a href="{% url "change_color_days" %}" class="special">Change colours</a>
        </div>
      </div>
    </section>
    <!-- User Profiles -->
    <section id="four" class="wrapper ">
      <div class="inner">
        <h2 class="major">User Profiles:</h2>
        <p>
          The app includes tables in the database to store user profiles, making it easy to manage and assign shifts.
          Tailor the app to your preferences through the user configuration screen.
          Additionally, the user can adjust shifts, apply bonuses, and manage overtime hours, among other features.
        </p>
        <section class=" spotlight alt style3">
          <article>
            <div class="image">
              <img src="{% static 'assets/images/personal_data.jpg' %}"
                   width="auto"
                   height="auto"
                   alt="Sin imagen" />
            </div>
            <div class="image">
              <img src="{% static 'assets/images/shift_data_change.jpg' %}"
                   width="auto"
                   height="auto"
                   alt="Sin imagen" />
            </div>
          </article>
        </section>
      </div>
    </section>
    <!-- monthly and yearly summaries -->
    <section id="four" class="wrapper ">
      <div class="inner">
        <h2 class="major">Monthly and yearly summaries:</h2>
        <p>
          The app also includes total or partial summaries of the total days per shift, breaks, bonuses, and overtime hours
        </p>
        <section class=" spotlight alt style3">
          <article>
            <div class="image">
              <img src="{% static 'assets/images/personal_data.jpg' %}"
                   width="auto"
                   height="auto"
                   alt="Sin imagen" />
            </div>
            <div class="image">
              <img src="{% static 'assets/images/shift_data_change.jpg' %}"
                   width="auto"
                   height="auto"
                   alt="Sin imagen" />
            </div>
          </article>
        </section>
      </div>
    </section>
  </section>
{% endblock wrapper %}
