{% extends "base.html" %}
{% load static %}
{% block titulo_pagina %}
  <h2>Resumen de {{ recap.name }}</h2>
{% endblock titulo_pagina %}
{% block wrapper %}
  <div class="wrapper">
    <div class="inner">
      <section id="one" class="wrapper alt spotlight style1">
        <div class="inner">
          <a href="#" class="image"></a>
          <div class="content">
            <h2 class="major">Días de trabajo {{ recap.name }}</h2>
            <h2>Total dias:  {{ recap.number_of_days }}</h2>
            <h2>Trabajo: {{ recap.workings }}</h2>
            <h2>Descanso: {{ recap.frees }}</h2>
          </div>
        </div>
      </section>
      <section id="two" class="wrapper alt spotlight style2">
        <div class="inner">
          <a href="#" class="image"></a>
          <div class=" content ">
            <h2 class="major">Reparto de Turnos</h2>
            <h2>Mañana: {{ recap.mornings }}</h2>
            <h2>Tarde: {{ recap.evenings }}</h2>
            <h2>Noche: {{ recap.nights }}</h2>
          </div>
        </div>
      </section>
      <section id="three" class="wrapper alt spotlight style3">
        <div class="inner">
          <a href="#" class="image"></a>
          <div class="content">
            <h2 class="major">Pluses</h2>
            <h2>Horas extra: {{ recap.overtimes }}</h2>
            <h2>Cambios de turno: {{ recap.change_payables }}</h2>
            <h2>Nocturnidad: {{ recap.nights }}</h2>
          </div>
        </div>
      </section>
      <section id="four" class="wrapper alt spotlight style4">
        <div class="inner">
          <a href="#" class="image"></a>
          <div class="content">
            <h2 class="major">Festivos</h2>
            <h2>Total Festivos {{ recap.holidays }}</h2>
            <h2>Extra Festivos {{ recap.extra_holidays }}</h2>
          </div>
        </div>
      </section>
    </div>
  </div>
{% endblock wrapper %}
{% block footer %}
{% endblock footer %}
